@inherits LayoutComponentBase
@namespace Tobiso.Web.App.Components.Layout

<div class="empty-layout">
    @Body
</div>

<style>
    .empty-layout {
        min-height: 100vh;
        background-color: #f8f9fa;
    }
</style>
