@import "./variables.css";

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 2px;
    box-shadow: 2px 2px 10px var(--shadow-sm);
}

th,
td {
    padding: 10px;
    text-align: center;
}

td {
    background-color: var(--color-card-bg);
}

th {
    background-color: var(--color-accent);
    border-right: 1px;
}

td:first-child {
    background-color: var(--color-accent);
}

p {
    margin: 10px;
}

body.dark-mode td {
    background-color: var(--color-card-bg-dark);
}

body.dark-mode th {
    background-color: var(--color-card-top-dark);
}

body.dark-mode td:first-child {
    background-color: var(--color-card-top-dark);
}

body.dark-mode td{
    background-color: var(--color-card-bg-dark);
}
