@page "/"
<PageTitle>Domů - Tobiso</PageTitle>
<link rel="stylesheet" href="css/index-style.css"/>
<style>
    .sidebar {
        display: none;
    }
    .content {
        padding: 0;
    }
    section:first-of-type {
        padding: 0;
        margin: 0;
    }
    main {
        margin: 0;    
    }
    footer p {
        margin-left: 0;
    }
    .footer-content {
         margin-left: 0;
     }
</style>
<section class="hero">
            <div class="hero-image hero-pc">
                <img
                    src="https://tobiso.com/images/ucivo.png"
                    alt="Ilustrační obrázek školních předmětů"
                />
            </div>
            <div class="hero-content">
                <h1>Zápisy rychle, přesně</h1>
                <div class="hero-image hero-mob">
                    <img
                        src="https://tobiso.com/images/ucivo.png"
                        alt="Ilustrační obrázek školních předmětů"
                    />
                </div>
                <p>
                    Tobiso je vzdělávací platforma zaměřená na školní výuku pro
                    žáky základních škol. Nabízí materiály, které pokrývají
                    různé předměty, jako je mluvnice, literatura, sloh,
                    matematika, chemie a hudební výchova. Také je skoro přesná
                    kopie sešitů do předmětů.
                </p>
                <p class="sometimes-invisible">
                    Platforma se zaměřuje na zpřístupnění učiva základní školy a
                    usnadnění jeho pochopení, což může pomoci žákům efektivněji
                    se učit. Celkově je Tobiso užitečným nástrojem pro všechny,
                    kdo hledají kvalitní vzdělávací obsah na jednom místě.
                </p>
            </div>
            <button
                class="scroll-button"
                onclick="document.getElementById('predmety').scrollIntoView({behavior: 'smooth'});"
            >
                ↓
            </button>
        </section>

        <section id="predmety">
            <h2 class="verybig"><strong>Učivo</strong></h2>
            <ul class="grid-predmety">
                <li class="grid-item-pred">
                    <a href="categories/2">
                        <h3 class="grid-h3">mluvnice</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/5">
                        <h3 class="grid-h3">literatura</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/3">
                        <h3 class="grid-h3">sloh</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/4">
                        <h3 class="grid-h3">hudební výchova</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/6">
                        <h3 class="grid-h3">matematika</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/7">
                        <h3 class="grid-h3">chemie</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/8">
                        <h3 class="grid-h3">fyzika</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/9">
                        <h3 class="grid-h3">přírodopis</h3>
                    </a>
                </li>
                <li class="grid-item-pred">
                    <a href="categories/10">
                        <h3 class="grid-h3">zeměpis</h3>
                    </a>
                </li>
            </ul>
            <div style="margin-top: 60px"><button onclick="Home()">Domů</button></div>
        </section>
        

        <script>
            function Home() {
                window.location.href = "categories";
            }
        </script>